.App {
    font-family: sans-serif;
    text-align: center;
  }
  .bold {
    font-weight: bold;
    width: "600px";
    height: "350px";
  }
.italic{
  font-style: italic;
}
.center{
  text-align: center;
}

.underlined {text-decoration: underline;}